.login_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.login_form {
  text-align: center;
  margin-top: auto;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.login_form_header {
  margin-bottom: 15px;
}
.login_form_header1 {
  margin-bottom: 20px;
  font-size: 25px;
}

.login_form input {
  width: 92%;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login_form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login_form button:hover {
  background-color: #0056b3;
}
.login_form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.role_selector {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.role_selector label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.role_selector input[type="radio"] {
  /* appearance: none; */
  width: 20px;
  height: 20px;
  border: 2px solid #007bff;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 15px;
  cursor: pointer;
}

.role_selector input[type="radio"]:checked {
  background-color: #007bff;
}
.created_by_Container {
  text-align: center;
  font-size: 13px;
  margin-top: auto;
}
